#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/midi.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>



// go to bootloader: &bootloader
// presents key from higher layer: &trans
// no function: &none

#define DEFAULT_L  0
#define NUM_L      1
#define ARROW_L    2
#define GAME_L     3
#define GAME_FN_L  4

#define MIDI_BASE   5
#define MIDI_BASE_2 6

// Major chords
#define MA_Ab  7
#define MA_Eb  8
#define MA_Bb  9
#define MA_F  10
#define MA_C  11
#define MA_G  12
#define MA_D  13
#define MA_A  14
#define MA_E  15
#define MA_B  16

// Minor Chords
#define MI_Ab  17
#define MI_Eb  18
#define MI_Bb  19
#define MI_F  20
#define MI_C  21
#define MI_G  22
#define MI_D  23
#define MI_A  24
#define MI_E  25
#define MI_B  26

// 7ths 
#define SEV_Ab  27
#define SEV_Eb  28
#define SEV_Bb  29
#define SEV_F  30
#define SEV_C  31
#define SEV_G  32
#define SEV_D  33
#define SEV_A  34
#define SEV_E  35
#define SEV_B  36

// Major 7ths
#define MA7_Ab  37
#define MA7_Eb  38
#define MA7_Bb  39
#define MA7_F  40
#define MA7_C  41
#define MA7_G  42
#define MA7_D  43
#define MA7_A  44
#define MA7_E  45
#define MA7_B  46

// Minor 7ths
#define MI7_Ab  47
#define MI7_Eb  48
#define MI7_Bb  49
#define MI7_F  50
#define MI7_C  51
#define MI7_G  52
#define MI7_D  53
#define MI7_A  54
#define MI7_E  55
#define MI7_B  56

// Augmented
#define AUG_Ab  57
#define AUG_Eb  58
#define AUG_Bb  59
#define AUG_F  60
#define AUG_C  61
#define AUG_G  62
#define AUG_D  63
#define AUG_A  64
#define AUG_E  65
#define AUG_B  66

// Diminished
#define DIM_Ab  67
#define DIM_Eb  68
#define DIM_Bb  69
#define DIM_F  70
#define DIM_C  71
#define DIM_G  72
#define DIM_D  73
#define DIM_A  74
#define DIM_E  75
#define DIM_B  76


//TODO these function layers come after all others, and so should have their number increased as we fill out the other layers
// they need to be at the end because of how zmk handles layers. higher number layers are processed first
#define CHORD 27
#define MIDI_BASE_1_CHORD 28
#define MIDI_BASE_2_CHORD 29
//TODO use conditional layers for the chord key combos?


/ {
  conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer_midi_base_1 {
            if-layers = <CHORD MIDI_BASE>;
            then-layer = <MIDI_BASE_1_CHORD>;
        };

        tri_layer_midi_base_2 {
            if-layers = <CHORD MIDI_BASE_2>;
            then-layer = <MIDI_BASE_2_CHORD>;
        };

    };

// switch the bt device depending on the number of taps on td0
    behaviors {
        out_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&out OUT_SHO>, <&out OUT_BLE>, <&out OUT_USB>;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Ab_ma: Ab_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_Ab>
            , <&macro_press &midi NOTE_Ab_5>
            , <&macro_press &midi NOTE_C_6>
            , <&macro_press &midi NOTE_Ds_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_Ab>
            , <&macro_release &midi NOTE_Ab_5>
            , <&macro_release &midi NOTE_C_6>
            , <&macro_release &midi NOTE_Ds_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Eb_ma: Eb_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_Eb>
            , <&macro_press &midi NOTE_Eb_5>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_press &midi NOTE_As_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_Eb>
            , <&macro_release &midi NOTE_Eb_5>
            , <&macro_release &midi NOTE_G_5>
            , <&macro_release &midi NOTE_As_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Bb_ma: Bb_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_Bb>
            , <&macro_press &midi NOTE_Bb_5>
            , <&macro_press &midi NOTE_D_6>
            , <&macro_press &midi NOTE_F_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_Bb>
            , <&macro_release &midi NOTE_Bb_5>
            , <&macro_release &midi NOTE_D_6>
            , <&macro_release &midi NOTE_F_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_F_ma: F_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_F>
            , <&macro_press &midi NOTE_F_5>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_press &midi NOTE_C_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_F>
            , <&macro_release &midi NOTE_F_5>
            , <&macro_release &midi NOTE_A_5>
            , <&macro_release &midi NOTE_C_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_C_ma: C_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_C>
            , <&macro_press &midi NOTE_C_5>
            , <&macro_press &midi NOTE_E_5>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_C>
            , <&macro_release &midi NOTE_C_5>
            , <&macro_release &midi NOTE_E_5>
            , <&macro_release &midi NOTE_G_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_G_ma: G_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_G>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_press &midi NOTE_D_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_G>
            , <&macro_release &midi NOTE_G_5>
            , <&macro_release &midi NOTE_B_5>
            , <&macro_release &midi NOTE_D_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_D_ma: D_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_D>
            , <&macro_press &midi NOTE_D_5>
            , <&macro_press &midi NOTE_Fs_5>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_D>
            , <&macro_release &midi NOTE_D_5>
            , <&macro_release &midi NOTE_Fs_5>
            , <&macro_release &midi NOTE_A_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_A_ma: A_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_A>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_press &midi NOTE_Cs_6>
            , <&macro_press &midi NOTE_E_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_A>
            , <&macro_release &midi NOTE_A_5>
            , <&macro_release &midi NOTE_Cs_6>
            , <&macro_release &midi NOTE_E_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_E_ma: E_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_E>
            , <&macro_press &midi NOTE_E_5>
            , <&macro_press &midi NOTE_Gs_5>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_E>
            , <&macro_release &midi NOTE_E_5>
            , <&macro_release &midi NOTE_Gs_5>
            , <&macro_release &midi NOTE_B_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_B_ma: B_major {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_B>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_press &midi NOTE_Ds_6>
            , <&macro_press &midi NOTE_Fs_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_B>
            , <&macro_release &midi NOTE_B_5>
            , <&macro_release &midi NOTE_Ds_6>
            , <&macro_release &midi NOTE_Fs_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Ab_mi: Ab_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_Ab>
            , <&macro_press &midi NOTE_Ab_5>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_press &midi NOTE_Ds_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_Ab>
            , <&macro_release &midi NOTE_Ab_5>
            , <&macro_release &midi NOTE_B_5>
            , <&macro_release &midi NOTE_Ds_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Eb_mi: Eb_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_Eb>
            , <&macro_press &midi NOTE_Eb_5>
            , <&macro_press &midi NOTE_Fs_5>
            , <&macro_press &midi NOTE_As_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_Eb>
            , <&macro_release &midi NOTE_Eb_5>
            , <&macro_release &midi NOTE_Fs_5>
            , <&macro_release &midi NOTE_As_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Bb_mi: Bb_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_Bb>
            , <&macro_press &midi NOTE_Bb_5>
            , <&macro_press &midi NOTE_Cs_6>
            , <&macro_press &midi NOTE_F_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_Bb>
            , <&macro_release &midi NOTE_Bb_5>
            , <&macro_release &midi NOTE_Cs_6>
            , <&macro_release &midi NOTE_F_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_F_mi: F_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_F>
            , <&macro_press &midi NOTE_F_5>
            , <&macro_press &midi NOTE_Gs_5>
            , <&macro_press &midi NOTE_C_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_F>
            , <&macro_release &midi NOTE_F_5>
            , <&macro_release &midi NOTE_Gs_5>
            , <&macro_release &midi NOTE_C_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_C_mi: C_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_C>
            , <&macro_press &midi NOTE_C_5>
            , <&macro_press &midi NOTE_Ds_5>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_C>
            , <&macro_release &midi NOTE_C_5>
            , <&macro_release &midi NOTE_Ds_5>
            , <&macro_release &midi NOTE_G_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_G_mi: G_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_G>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_press &midi NOTE_As_5>
            , <&macro_press &midi NOTE_D_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_G>
            , <&macro_release &midi NOTE_G_5>
            , <&macro_release &midi NOTE_As_5>
            , <&macro_release &midi NOTE_D_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_D_mi: D_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_D>
            , <&macro_press &midi NOTE_D_5>
            , <&macro_press &midi NOTE_F_5>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_D>
            , <&macro_release &midi NOTE_D_5>
            , <&macro_release &midi NOTE_F_5>
            , <&macro_release &midi NOTE_A_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_A_mi: A_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_A>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_press &midi NOTE_C_6>
            , <&macro_press &midi NOTE_E_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_A>
            , <&macro_release &midi NOTE_A_5>
            , <&macro_release &midi NOTE_C_6>
            , <&macro_release &midi NOTE_E_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_E_mi: E_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_E>
            , <&macro_press &midi NOTE_E_5>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_E>
            , <&macro_release &midi NOTE_E_5>
            , <&macro_release &midi NOTE_G_5>
            , <&macro_release &midi NOTE_B_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_B_mi: B_minor {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MI_B>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_press &midi NOTE_D_6>
            , <&macro_press &midi NOTE_Fs_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MI_B>
            , <&macro_release &midi NOTE_B_5>
            , <&macro_release &midi NOTE_D_6>
            , <&macro_release &midi NOTE_Fs_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Ab_sev: Ab_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_Ab>
            , <&macro_press &midi NOTE_Ab_5>
            , <&macro_press &midi NOTE_C_6>
            , <&macro_press &midi NOTE_Ds_6>
            , <&macro_press &midi NOTE_Fs_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_Ab>
            , <&macro_release &midi NOTE_Ab_5>
            , <&macro_release &midi NOTE_C_6>
            , <&macro_release &midi NOTE_Ds_6>
            , <&macro_release &midi NOTE_Fs_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Eb_sev: Eb_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_Eb>
            , <&macro_press &midi NOTE_Eb_5>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_press &midi NOTE_As_5>
            , <&macro_press &midi NOTE_Cs_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_Eb>
            , <&macro_release &midi NOTE_Eb_5>
            , <&macro_release &midi NOTE_G_5>
            , <&macro_release &midi NOTE_As_5>
            , <&macro_release &midi NOTE_Cs_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_Bb_sev: Bb_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_Bb>
            , <&macro_press &midi NOTE_Bb_5>
            , <&macro_press &midi NOTE_D_6>
            , <&macro_press &midi NOTE_F_6>
            , <&macro_press &midi NOTE_Gs_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_Bb>
            , <&macro_release &midi NOTE_Bb_5>
            , <&macro_release &midi NOTE_D_6>
            , <&macro_release &midi NOTE_F_6>
            , <&macro_release &midi NOTE_Gs_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_F_sev: F_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_F>
            , <&macro_press &midi NOTE_F_5>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_press &midi NOTE_C_6>
            , <&macro_press &midi NOTE_Ds_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_F>
            , <&macro_release &midi NOTE_F_5>
            , <&macro_release &midi NOTE_A_5>
            , <&macro_release &midi NOTE_C_6>
            , <&macro_release &midi NOTE_Ds_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_C_sev: C_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_C>
            , <&macro_press &midi NOTE_C_5>
            , <&macro_press &midi NOTE_E_5>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_press &midi NOTE_As_5>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_C>
            , <&macro_release &midi NOTE_C_5>
            , <&macro_release &midi NOTE_E_5>
            , <&macro_release &midi NOTE_G_5>
            , <&macro_release &midi NOTE_As_5>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_G_sev: G_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_G>
            , <&macro_press &midi NOTE_G_5>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_press &midi NOTE_D_6>
            , <&macro_press &midi NOTE_F_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_G>
            , <&macro_release &midi NOTE_G_5>
            , <&macro_release &midi NOTE_B_5>
            , <&macro_release &midi NOTE_D_6>
            , <&macro_release &midi NOTE_F_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_D_sev: D_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_D>
            , <&macro_press &midi NOTE_D_5>
            , <&macro_press &midi NOTE_Fs_5>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_press &midi NOTE_C_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_D>
            , <&macro_release &midi NOTE_D_5>
            , <&macro_release &midi NOTE_Fs_5>
            , <&macro_release &midi NOTE_A_5>
            , <&macro_release &midi NOTE_C_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_A_sev: A_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_A>
            , <&macro_press &midi NOTE_A_5>
            , <&macro_press &midi NOTE_Cs_6>
            , <&macro_press &midi NOTE_E_6>
            , <&macro_press &midi NOTE_G_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_A>
            , <&macro_release &midi NOTE_A_5>
            , <&macro_release &midi NOTE_Cs_6>
            , <&macro_release &midi NOTE_E_6>
            , <&macro_release &midi NOTE_G_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_E_sev: E_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_E>
            , <&macro_press &midi NOTE_E_5>
            , <&macro_press &midi NOTE_Gs_5>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_press &midi NOTE_D_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_E>
            , <&macro_release &midi NOTE_E_5>
            , <&macro_release &midi NOTE_Gs_5>
            , <&macro_release &midi NOTE_B_5>
            , <&macro_release &midi NOTE_D_6>
            ;
        };


// macros for each chord key, so we can switch to the chords layer and press the chords keys at the same time
        ch_B_sev: B_seventh {
            compatible = "zmk,behavior-macro";
            wait-ms = <2>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
            = <&macro_press &mo MA_B>
            , <&macro_press &midi NOTE_B_5>
            , <&macro_press &midi NOTE_Ds_6>
            , <&macro_press &midi NOTE_Fs_6>
            , <&macro_press &midi NOTE_A_6>
            , <&macro_pause_for_release>
            , <&macro_release &mo MA_B>
            , <&macro_release &midi NOTE_B_5>
            , <&macro_release &midi NOTE_Ds_6>
            , <&macro_release &midi NOTE_Fs_6>
            , <&macro_release &midi NOTE_A_6>
            ;
        };


// we want to be able to toggle on/off chords playing when chord keys are pressed
// can we set a global variable to do this?
// 

/**
 * Temporarily switches to a layer (`&mo`) while a modifier is held.
 * Analogous to QMK's `LM()`, using a parameterized macro.
 *
 * Params:
 *  1. Layer to switch to
 *  2. Modifier to press while layer is active
 *
 * Example:
 *  `&lm NUM_LAYER LSHIFT`
 */
lm: lm {
    compatible = "zmk,behavior-macro-two-param";
    wait-ms = <0>;
    tap-ms = <0>;
    #binding-cells = <2>;
    bindings
        = <&macro_param_1to1>
        , <&macro_press &mo MACRO_PLACEHOLDER>
        , <&macro_param_2to1>
        , <&macro_press &kp MACRO_PLACEHOLDER>
        , <&macro_pause_for_release>
        , <&macro_param_2to1>
        , <&macro_release &kp MACRO_PLACEHOLDER>
        , <&macro_param_1to1>
        , <&macro_release &mo MACRO_PLACEHOLDER>
        ;
};
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |
// |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |
// |    Z    |    X    |    C    |    V    |    B    |                                          |    N    |    M    |    ,    |    .    |    /    |
// |BT/USB td|  VOL_DN | VOL_UP  |                                                                                  |   LALT  |   DEL   |   bt sho  |
//                               |   GUI   |   SPACE | ESC     |                      |backspace| L SHIFT |  ENTER  |
//                                         |NUM_LAYER| l_ctrl  |                      |   TAB   |ARROW_LAYER|

bindings = <
      &kp Q     &kp W     &kp E     &kp R      &kp T                                               &kp Y     &kp U     &kp I     &kp O     &kp P   
      &kp A     &kp S     &kp D     &kp F      &kp G                                               &kp H     &kp J     &kp K     &kp L     &kp SEMI
      &kp Z     &kp X     &kp C     &kp V      &kp B                                               &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
    &out_td &kp C_VOL_DN &kp C_VOL_UP                                                                                   &kp LALT  &kp DEL   &bt BT_SHO
                                  &kp LGUI    &kp SPC   &kp ESC                         &kp BSPC  &kp LSHFT  &kp ENTER
                                              &mo NUM_L &kp LCTRL                       &kp TAB   &mo ARROW_L
            >;
        };

        num_layer {
bindings = <
  &bt BT_SEL 0   &kp GRAVE &kp MINUS &kp EQUAL   &none                                               &none     &kp N7    &kp N8    &kp N9     &none
  &bt BT_SEL 1   &kp LBKT  &kp RBKT   &kp BSLH   &none                                               &kp N0    &kp N4    &kp N5    &kp N6     &none
  &bt BT_SEL 2   &kp SEMI   &kp SQT   &kp FSLH   &none                                               &kp DOT   &kp N1    &kp N2    &kp N3    &none
  &bt BT_SEL 3    &trans    &trans                                                                                      &trans   &trans    &trans
                                   &trans    &trans   &trans                        &trans   &trans  &trans
                                             &trans   &trans                        &trans   &trans
            >;
        };

        arrow_layer {
bindings = <
      &kp F1   &kp F2  &kp F3   &kp F4   &kp F5                                               &kp F6     &kp F7      &kp F8    &kp F9     &kp F10
    &bootloader  &none  &none   &none   &to MIDI_BASE                                                 &kp LEFT    &kp DOWN    &kp UP    &kp RIGHT  &kp F11
   &bt BT_CLR    &none &none    &none   &none                                                &kp HOME    &none       &none     &kp END    &to GAME_L
      &trans    &trans  &trans                                                                                        &trans     &trans       &trans
                                   &trans    &trans   &trans                        &trans   &trans  &trans
                                             &trans   &trans                        &trans   &trans
            >;
        };

        game_layer {
bindings = <
      &kp Q     &kp W     &kp E     &kp R      &kp T                                               &kp Y     &kp U     &kp I     &kp O     &kp P   
      &kp A     &kp S     &kp D     &kp F      &kp G                                               &kp H     &kp J     &kp K     &kp L     &kp SEMI
      &kp Z     &kp X     &kp C     &kp V      &kp B                                               &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
      &kp N0     &kp N1   &kp N2                                                                                       &kp N3  &kp N4      &kp N5
                                  &kp LSHFT    &kp SPC   &kp ESC                      &kp BSPC  &kp LSHFT  &kp RALT
                                              &mo LCTRL &kp TAB                       &kp TAB   &mo GAME_FN_L
            >;
        };

        game_function_layer {
bindings = <
      &kp F1   &kp F2  &kp F3   &kp F4   &kp F5                                               &kp F6     &kp F7      &kp F8    &kp F9     &kp F10
    &bootloader  &none  &none   &none   &none                                                &kp LEFT    &kp DOWN    &kp UP    &kp RIGHT  &kp F11
      &none     &none   &none   &none   &none                                                &none       &none       &none     &none  &to DEFAULT_L
      &trans    &trans  &trans                                                                                       &trans     &trans       &trans
                                   &trans    &trans   &trans                        &trans   &trans  &trans
                                             &trans   &trans                        &trans   &trans
            >;
        };


        midi_base {
bindings = <
   &mo MA_Ab  &mo MA_Eb  &mo MA_Bb &mo MA_F &mo MA_C                             &none     &none   &none  &none     &none
   &mo MI_Ab  &mo MI_Eb  &mo MI_Bb &mo MI_F &mo MI_C                             &none     &none   &none  &none     &none
   &none   &none  &none    &none &none                                           &none     &none   &none  &none     &none
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                  &none  &mo MIDI_BASE_2 &tog MIDI_BASE_2     &midi OCT_UP  &none &none
                                         &mo CHORD  &tog  CHORD               &midi OCT_DOWN  &midi SUSTAIN
            >;
        };

        midi_base_2 {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                              &none     &none   &none  &none     &none
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                                &none     &none   &none  &none     &none
   &none   &none  &none    &none &none                                           &none     &none   &none  &none     &none
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                  &none  &mo MIDI_BASE &tog MIDI_BASE     &midi OCT_UP  &none &none
                                         &mo CHORD  &tog  CHORD               &midi OCT_DOWN  &midi SUSTAIN
            >;
        };


// ############################################
// **** PLACE SCALE LAYERS BELOW HERE *********
// ############################################
        Ab_major {
bindings = <
   &mo MA_Ab  &mo MA_Eb  &mo MA_Bb &mo MA_F &mo MA_C                           &midi NOTE_G_5   &midi NOTE_Bb_5   &midi NOTE_Db_6  &midi NOTE_F_6     &midi NOTE_Ab_6
   &mo MI_Ab  &mo MI_Eb  &mo MI_Bb &mo MI_F &mo MI_C                           &midi NOTE_F_5   &midi NOTE_Ab_5   &midi NOTE_C_6  &midi NOTE_Eb_6     &midi NOTE_G_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_F_4   &midi NOTE_Ab_4   &midi NOTE_C_5  &midi NOTE_Eb_5     &midi NOTE_G_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        Eb_major {
bindings = <
   &mo MA_Ab  &mo MA_Eb  &mo MA_Bb &mo MA_F &mo MA_C                           &midi NOTE_D_5   &midi NOTE_F_5   &midi NOTE_Ab_5  &midi NOTE_C_6     &midi NOTE_Eb_6
   &mo MI_Ab  &mo MI_Eb  &mo MI_Bb &mo MI_F &mo MI_C                           &midi NOTE_C_5   &midi NOTE_Eb_5   &midi NOTE_G_5  &midi NOTE_Bb_5     &midi NOTE_D_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_C_4   &midi NOTE_Eb_4   &midi NOTE_G_4  &midi NOTE_Bb_4     &midi NOTE_D_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        Bb_major {
bindings = <
   &mo MA_Ab  &mo MA_Eb  &mo MA_Bb &mo MA_F &mo MA_C                           &midi NOTE_A_5   &midi NOTE_C_6   &midi NOTE_Eb_6  &midi NOTE_G_6     &midi NOTE_Bb_6
   &mo MI_Ab  &mo MI_Eb  &mo MI_Bb &mo MI_F &mo MI_C                           &midi NOTE_G_5   &midi NOTE_Bb_5   &midi NOTE_D_6  &midi NOTE_F_6     &midi NOTE_A_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_G_4   &midi NOTE_Bb_4   &midi NOTE_D_5  &midi NOTE_F_5     &midi NOTE_A_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        F_major {
bindings = <
   &mo MA_Ab  &mo MA_Eb  &mo MA_Bb &mo MA_F &mo MA_C                           &midi NOTE_E_5   &midi NOTE_G_5   &midi NOTE_As_5  &midi NOTE_D_6     &midi NOTE_F_6
   &mo MI_Ab  &mo MI_Eb  &mo MI_Bb &mo MI_F &mo MI_C                           &midi NOTE_D_5   &midi NOTE_F_5   &midi NOTE_A_5  &midi NOTE_C_6     &midi NOTE_E_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_D_4   &midi NOTE_F_4   &midi NOTE_A_4  &midi NOTE_C_5     &midi NOTE_E_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        C_major {
bindings = <
   &mo MA_Ab  &mo MA_Eb  &mo MA_Bb &mo MA_F &mo MA_C                           &midi NOTE_B_4   &midi NOTE_D_5   &midi NOTE_F_5  &midi NOTE_A_5     &midi NOTE_C_6
   &mo MI_Ab  &mo MI_Eb  &mo MI_Bb &mo MI_F &mo MI_C                           &midi NOTE_A_4   &midi NOTE_C_5   &midi NOTE_E_5  &midi NOTE_G_5     &midi NOTE_B_5
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_A_3   &midi NOTE_C_4   &midi NOTE_E_4  &midi NOTE_G_4     &midi NOTE_B_4
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        G_major {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Fs_5   &midi NOTE_A_5   &midi NOTE_C_6  &midi NOTE_E_6     &midi NOTE_G_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_E_5   &midi NOTE_G_5   &midi NOTE_B_5  &midi NOTE_D_6     &midi NOTE_Fs_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_E_4   &midi NOTE_G_4   &midi NOTE_B_4  &midi NOTE_D_5     &midi NOTE_Fs_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        D_major {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Cs_5   &midi NOTE_E_5   &midi NOTE_G_5  &midi NOTE_B_5     &midi NOTE_D_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_B_4   &midi NOTE_D_5   &midi NOTE_Fs_5  &midi NOTE_A_5     &midi NOTE_Cs_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_B_3   &midi NOTE_D_4   &midi NOTE_Fs_4  &midi NOTE_A_4     &midi NOTE_Cs_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        A_major {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Gs_5   &midi NOTE_B_5   &midi NOTE_D_6  &midi NOTE_Fs_6     &midi NOTE_A_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_Fs_5   &midi NOTE_A_5   &midi NOTE_Cs_6  &midi NOTE_E_6     &midi NOTE_Gs_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_Fs_4   &midi NOTE_A_4   &midi NOTE_Cs_5  &midi NOTE_E_5     &midi NOTE_Gs_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        E_major {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Ds_5   &midi NOTE_Fs_5   &midi NOTE_A_5  &midi NOTE_Cs_6     &midi NOTE_E_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_Cs_5   &midi NOTE_E_5   &midi NOTE_Gs_5  &midi NOTE_B_5     &midi NOTE_Ds_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_Cs_4   &midi NOTE_E_4   &midi NOTE_Gs_4  &midi NOTE_B_4     &midi NOTE_Ds_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        B_major {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_As_5   &midi NOTE_Cs_6   &midi NOTE_E_6  &midi NOTE_Gs_6     &midi NOTE_B_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_Gs_5   &midi NOTE_B_5   &midi NOTE_Ds_6  &midi NOTE_Fs_6     &midi NOTE_As_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_Gs_4   &midi NOTE_B_4   &midi NOTE_Ds_5  &midi NOTE_Fs_5     &midi NOTE_As_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        Ab_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Gb_5   &midi NOTE_Bb_5   &midi NOTE_Db_6  &midi NOTE_E_6     &midi NOTE_Ab_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_E_5   &midi NOTE_Ab_5   &midi NOTE_B_5  &midi NOTE_Eb_6     &midi NOTE_Gb_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_E_4   &midi NOTE_Ab_4   &midi NOTE_B_4  &midi NOTE_Eb_5     &midi NOTE_Gb_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        Eb_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Db_5   &midi NOTE_F_5   &midi NOTE_Ab_5  &midi NOTE_B_5     &midi NOTE_Eb_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_B_4   &midi NOTE_Eb_5   &midi NOTE_Gb_5  &midi NOTE_Bb_5     &midi NOTE_Db_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_B_3   &midi NOTE_Eb_4   &midi NOTE_Gb_4  &midi NOTE_Bb_4     &midi NOTE_Db_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        Bb_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Ab_5   &midi NOTE_C_6   &midi NOTE_Eb_6  &midi NOTE_Gb_6     &midi NOTE_Bb_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_Gb_5   &midi NOTE_Bb_5   &midi NOTE_Db_6  &midi NOTE_F_6     &midi NOTE_Ab_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_Gb_4   &midi NOTE_Bb_4   &midi NOTE_Db_5  &midi NOTE_F_5     &midi NOTE_Ab_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        F_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_Ds_5   &midi NOTE_G_5   &midi NOTE_As_5  &midi NOTE_Cs_6     &midi NOTE_F_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_Cs_5   &midi NOTE_F_5   &midi NOTE_Gs_5  &midi NOTE_C_6     &midi NOTE_Ds_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_Cs_4   &midi NOTE_F_4   &midi NOTE_Gs_4  &midi NOTE_C_5     &midi NOTE_Ds_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        C_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_As_4   &midi NOTE_D_5   &midi NOTE_F_5  &midi NOTE_Gs_5     &midi NOTE_C_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_Gs_4   &midi NOTE_C_5   &midi NOTE_Ds_5  &midi NOTE_G_5     &midi NOTE_As_5
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_Gs_3   &midi NOTE_C_4   &midi NOTE_Ds_4  &midi NOTE_G_4     &midi NOTE_As_4
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        G_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_F_5   &midi NOTE_A_5   &midi NOTE_C_6  &midi NOTE_Ds_6     &midi NOTE_G_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_Ds_5   &midi NOTE_G_5   &midi NOTE_As_5  &midi NOTE_D_6     &midi NOTE_F_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_Ds_4   &midi NOTE_G_4   &midi NOTE_As_4  &midi NOTE_D_5     &midi NOTE_F_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        D_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_C_5   &midi NOTE_E_5   &midi NOTE_G_5  &midi NOTE_As_5     &midi NOTE_D_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_As_4   &midi NOTE_D_5   &midi NOTE_F_5  &midi NOTE_A_5     &midi NOTE_C_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_As_3   &midi NOTE_D_4   &midi NOTE_F_4  &midi NOTE_A_4     &midi NOTE_C_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        A_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_G_5   &midi NOTE_B_5   &midi NOTE_D_6  &midi NOTE_F_6     &midi NOTE_A_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_F_5   &midi NOTE_A_5   &midi NOTE_C_6  &midi NOTE_E_6     &midi NOTE_G_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_F_4   &midi NOTE_A_4   &midi NOTE_C_5  &midi NOTE_E_5     &midi NOTE_G_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        E_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_D_5   &midi NOTE_Fs_5   &midi NOTE_A_5  &midi NOTE_C_6     &midi NOTE_E_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_C_5   &midi NOTE_E_5   &midi NOTE_G_5  &midi NOTE_B_5     &midi NOTE_D_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_C_4   &midi NOTE_E_4   &midi NOTE_G_4  &midi NOTE_B_4     &midi NOTE_D_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        B_minor {
bindings = <
   &mo MA_G  &mo MA_D  &mo MA_A &mo MA_E &mo MA_B                           &midi NOTE_A_5   &midi NOTE_Cs_6   &midi NOTE_E_6  &midi NOTE_G_6     &midi NOTE_B_6
   &mo MI_G  &mo MI_D  &mo MI_A &mo MI_E &mo MI_B                           &midi NOTE_G_5   &midi NOTE_B_5   &midi NOTE_D_6  &midi NOTE_Fs_6     &midi NOTE_A_6
   &trans  &trans  &trans  &trans  &trans                                      &midi NOTE_G_4   &midi NOTE_B_4   &midi NOTE_D_5  &midi NOTE_Fs_5     &midi NOTE_A_5
   &to DEFAULT_L   &none  &none                                                                          &none  &none     &none
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };

// ############################################
// **** PLACE SCALE LAYERS ABOVE HERE *********
// ############################################
// TODO having the chord layers be &to instead of &mo is nice for playing, but need to debug them more

// not explicitly used, but its activation is a variable to determine whether chords should make sound when pressed
        chord_indicator {
bindings = <
   &trans   &trans  &trans    &trans &trans                                           &trans     &trans   &trans  &trans     &trans
   &trans   &trans  &trans    &trans &trans                                           &trans     &trans   &trans  &trans     &trans
   &trans   &trans  &trans    &trans &trans                                           &trans     &trans   &trans  &trans     &trans
   &trans   &trans  &trans                                                                          &trans  &trans     &trans
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };

        midi_base_1_chord_on {
bindings = <
   &ch_Ab_ma   &ch_Eb_ma  &ch_Bb_ma    &ch_F_ma &ch_C_ma                                           &trans     &trans   &trans  &trans     &trans
   &ch_Ab_mi   &ch_Eb_mi  &ch_Bb_mi    &ch_F_mi &ch_C_mi                                           &trans     &trans   &trans  &trans     &trans
 &ch_Ab_sev  &ch_Eb_sev  &ch_Bb_sev    &ch_F_sev &ch_C_sev                                           &trans     &trans   &trans  &trans     &trans
   &trans   &trans  &trans                                                                          &trans  &trans     &trans
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };


        midi_base_2_chord_on {
bindings = <
   &ch_G_ma   &ch_D_ma  &ch_A_ma    &ch_E_ma &ch_B_ma                                           &trans     &trans   &trans  &trans     &trans
   &ch_G_mi   &ch_D_mi  &ch_A_mi    &ch_E_mi &ch_B_mi                                           &trans     &trans   &trans  &trans     &trans
 &ch_G_sev  &ch_D_sev  &ch_A_sev    &ch_E_sev &ch_B_sev                                           &trans     &trans   &trans  &trans     &trans
   &trans   &trans  &trans                                                                          &trans  &trans     &trans
                                             &trans  &trans &trans     &trans  &trans &trans
                                                    &trans &trans     &trans  &trans
            >;
        };

    };
};


// each major scale has a root note and then goes
// 2 2 1 2 2 2 1
// each minor scale
// 2 1 2 2 1 2 2