# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BTRFLD

config ZMK_KEYBOARD_NAME
    default "btrfld"

config ZMK_BACKLIGHT
    select LED
    select LED_GPIO
    select PWM
    select LED_PWM

endif