/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

&pwm0 {
    status = "okay";
    ch0-pin = <24>;
    ch1-pin = <13>;
    ch2-pin = <20>;
    /* ch0-inverted; */
};

/ {
    backlight: pwmleds {
        compatible = "pwm-leds";
        label = "Backlight LEDs";
        pwm_led_0 {
            pwms = <&pwm0 24>;
            label = "Backlight LED 0";
        };
        pwm_led_1 {
            pwms = <&pwm0 13>;
            label = "Backlight LED 1";
        };
        pwm_led_2 {
            pwms = <&pwm0 20>;
            label = "Backlight LED 2";
        };
    };

    chosen {
        zmk,backlight = &backlight;
    };
};